lpips==0.1.4
matplotlib
torch==1.13.1
monai[nibabel]  # monai 1.3 does not work, monai 1.0 does work, not sure about the stuff in between
monai-generative
pandas
scipy
tensorboard
tqdm
einops>=0.3.2
omegaconf==2.1.1
imageio
scikit-learn
seaborn
scikit-image
x-transformers==1.8.1
numba
medmnist
